/* Space out content a bit */
body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}

.full {
  background: url(https://pixabay.com/static/uploads/photo/2014/12/16/06/58/sailor-570017_960_720.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}


  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
.jumbotron h1{
	color: black;
}
.jumbotron p{
	color: black;
}

.signIn strong{
  color: green;
  font-family: arial, sans-serif;
  font-size: 30px;
}

.jumbotronBackground{
    background-color:rgba(255,255,255, 1);
    background:rgba(255,255,255, 0.8);
    /*-color: rgba(0,0,0,.2);*/
}
