body{
    background-color: #16818E;
}
/* Changing profile img to be a circle */
.jumbotron img{
  height:100px;
  width: 100px;
  border-radius: 50%
}
/* Making testimonial have space between other Testimonial's */
.jumbotron{
  margin: 10px 0px;
}
/* Making a scroller that only appears when the testimonial is long */
.scroller{
  background-color: #CCCCCC;;
  color: black;
  height: 500px;
  width: 100%;
  overflow: scroll;
  padding: 3px;
}
/* Giving testimonial text padding to fit in container */
.scroller p{
  padding-left: 3px;
  padding-right: 20px;
}
/* Giving Testimonial title space to fit in container */
.scroller h1{
  padding-left: 3px;
  padding-right: 20px;
}
