/* spacing out content */
body{
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
}
 /* creating background image */
.full {
  background: url(https://pixabay.com/static/uploads/photo/2015/03/26/09/47/sky-690293_960_720.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Changing profile img to be a circle */
#profileImg{
  height:150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid white;
}

#badge{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid blue;
}
/* Making testimonial have space between other Testimonial's */
.jumbotron{
  margin: 10px 0px;
}

#backgroundOpacity{
    background-color:rgba(255,255,255, 1);
    background:rgba(255,255,255, 0.8);
}
/* Making a scroller that only appears when the testimonial is long */
.scroller{
  background-color: #CCCCCC;;
  color: black;
  height: 500px;
  width: 100%;
  overflow: scroll;
  padding: 3px;
}
/* Giving testimonial text padding to fit in container */
.scroller p{
  padding-left: 3px;
  padding-right: 20px;
}
/* Giving Testimonial title space to fit in container */
.scroller h1{
  padding-left: 3px;
  padding-right: 20px;
}

/* adding space above navbar */
  .blankSpace{
    width: 100%;
    height: 60px;
  }
